<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rmg_ProductLabel::label" title="Product Labels" module="Rmg_ProductLabel"
             sortOrder="30" action="productlabel/label/index" resource="Rmg_ProductLabel::label"
             parent="Magento_Catalog::inventory"/>
    </menu>
</config>
